/* Exo 1 */
section{
    max-width: max-content;
    position: relative;
}

#exo1:before{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0%;
    bottom: 0px;
    transition: 5s;
}
#exo1:hover::before{
    width: 100%;
}
/* fin Exo 1 */

    



/* Exo 2 */
#exo2{
    max-width: max-content;
    position: relative;
}
#exo2>h1:before{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0%;
    left: 50%;
    bottom: 0%;
    transition: 5s;
}
#exo2>h1:hover:before{
    left: 0%;
    width: 100%;
    
    
}  
/* fin Exo 2 */

/* Exo 3 */
#exo3{
    max-width: max-content;
    position: relative;
}
#exo3:before{
    content: "";
    position: absolute;
    background-color: red;
    height: 0;
    width: 100%;
    z-index: -2;
    bottom: 0px;
    transition: 2s;
}
#exo3:hover::before{
    height: 100%;
    
}  
/* fin Exo 3 */
